altgraph==0.17.3
mysql-connector-python==8.0.32
pefile==2023.2.7
Pillow==9.4.0
protobuf==3.20.3
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
PyQt6==6.4.2
PyQt6-Qt6==6.4.3
PyQt6-sip==13.4.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
reportlab==3.6.12
six==1.16.0
